<div id="form-login">
    <div class="card mt-5" style="max-width: 360px; margin: auto">
        <div class="card-body">
            <form method="post" asp-controller="account" asp-action="login">
                <div class="text-center">
                    <h3 class="h3 mb-4">Login</h3>
                </div>

                <div class="form-group mb-4">
                    <label class="form-label" for="Email">Email address</label>
                    <input type="email" id="Email" name="Email" class="form-control" autofocus/>
                </div>

                <div class="form-group mb-4">
                    <label class="form-label" for="Password">Password</label>
                    <input type="password" id="Password" name="Password" class="form-control" />

                    @if (ViewData["Error"] != null)
                    {
                        <p class="text-sm-center text-danger mb-2">@ViewData["Error"]</p>
                    }
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>