@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="h1">Employees</h1>

    <table id="table-employee" class="table table-striped table-xs">
        <thead>
            <tr>
                <th>Name</th>
                <th>Job Title</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>

    $(document).ready(() => {

        $('#table-employee').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: '@Url.Action("Employees", "Home")',
                type: 'POST',
                dataType: 'json'
            },
            filter: true,
            ordering: true,
            orderMulti: false,
            paging: true,
            pageLength: 5,
            lengthMenu: [
                [5],
                [5],
            ],
            columns: [
                { data: "name", name: "name", "autoWidth": true },
                { data: "jobTitle", name: "jobTitle", "autoWidth": true },
                { data: "salary", name: "salary", "autoWidth": true },
            ]
        });

    });

</script>
